<ul> Tenants: 
<% @tenants.each do |tenant| %>
    <a href="/tenants/<%= tenant.id%>">
        <li> <%= tenant.name %> </li>
    </a>
<% end %>
</ul>

<button>
    <a href="/apartments">
        See all the Apartments
    </a>
</button>