<h1>New Tenant</h1>

<form method="post" action="/tenants">
    <p>Name: </p>
    <input type="text" name="tenant[name]" placeholder="Write name here">

    <select name="tenant[apartment_id]">
        <% @apartments.each do |apartment| %>
            <option value=<%= apartment.id %> > 
                <%= apartment.address %> 
            </option>
        <% end %>
    </select>

    <input type="submit" value="Create New Tenant">

</form>