<ul> Apartments: 
<% @apartments.each do |apartment| %>
    <a href="/apartments/<%= apartment.id%>">
        <li> <%= apartment.address %> </li>
    </a>
<% end %>
</ul>

<button>
    <a href="/tenants">
        See all the tenants
    </a>
</button>