<h1>New Apartment</h1>

<form method="post" action="/apartments">
    <label>Address:</label>
    <input type="text" name="address" placeholder="Write address here">

    <input type="submit" value="Create New Apartment">

</form>